{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/aboutUs.css' %}">
</head>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    {% for member in members %}
    <div class="column">
      <div class="card">
        <img src="https://avatars.githubusercontent.com/{{ member.githubAccount }}" 
        onerror="this.onerror=null; this.src='https://i.ibb.co/pPh0Pyh/download.png'" 
        alt="{{ member.name }}" style="width: 200px; height: 200px;">
        <div class="container">
          <h2>{{ member.name }}</h2>
          <p class="title">{{ member.course }}</p>
          <p>Description: {{ member.description }}</p>
          <p>Social: {{ member.githubAccount }}</p>
          <p><a class="button" href = "https://github.com/{{ member.githubAccount }}">Contact</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>